<!DOCTYPE  <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}" />
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" /> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/sub.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}" />
    <script src="main.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Mercari</h1>      
            <p>Your place to buy & sell, the marketplace with you in mind</p>
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <!-- <a class="navbar-brand" href="#">Logo</a> -->
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <!-- <li><a href="#">Products</a></li>
              <li><a href="#">Deals</a></li>
              <li><a href="#">Stores</a></li>
              <li><a href="#">Contact</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
          </div>
        </div>
    </nav>
      
    <!-- <div class="container-fluid"> -->
    <div class="container">

        {% include "flash-message.html" %}
        <div class="row">
            {% block content %}{% endblock %}
        </div>	
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/npm.js')}}"></script>
    {% block endjs %}{% endblock%}
    
</body>
</html>