{% extends "base.html" %}
{% block content %}

<div class="row">
	{% for product in products %}
	<div class="col-sm-4">
		<div class="panel panel-default">
			<a href="{{url_for('show_product', product_id=product.id)}}">
				<div class="panel-heading">{{product.name}}
				</div> 
			<div class="panel-body"><img src="{{ product.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
			{% if donates[loop.index-1] %}
			<div class="panel-footer">
				<img src="{{url_for('static', filename='logo/heart.jpg')}}" style="width:50px; height:50px;" alt="Italian Trulli">
				$ {{product.price}}</div>
			{% else %}			
			<div class="panel-footer">
				$ {{product.price}}
			</div>
			</a>
			{% endif %}			
		</div>
	</div>
	{% endfor %}
</div>


<script>
</script>
{% endblock %}