{% extends "base.html" %}
{% block content %}

<div class="row">
	{% for product in products %}
	<div class="col-sm-3">
		<div class="panel panel-default">
			<a href="{{url_for('show_product', product_id=product.id)}}" style="color: inherit;">
				<div class="panel-heading">{{product.name}}
				</div> 
			<div class="panel-body" >
				<img src="{{url_for('static', filename='images/product/' + product.image + '.jpg')}}" class="img-responsive" style="width:100%" alt="{{product.name}}">
			</div>

			{% if donates[loop.index-1] %}
			<div class="panel-footer">
				$ {{product.price}}
				<img src="{{url_for('static', filename='logo/heart.jpg')}}" style="width:40px; height:40px;" alt="Donation">
			</div>
				
			{% else %}			
			<div class="panel-footer" style="min-height: 61px;">
				$ {{product.price}}
			</div>
			</a>
			{% endif %}			
		</div>
	</div>
	{% endfor %}
</div>


<script>
</script>
{% endblock %}