{% extends "base.html" %}
{% block content %}

<div class="col-sm-8">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-4">
            <div class="panel panel-primary">
            <a href="{{url_for('show_product', product_id=product.id)}}">
                <div class="panel-heading">{{product.name}}</div>
            </a>
            <div class="panel-body"><img src="{{ product.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer">$ {{product.price}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-sm-4 text-left"> 
        <h1>{{user.name}}</h1>
        <hr>
        <!-- <h3>Description</h3> -->
        <p><b>Total Donation raised: $ {{user.total_donated}}</b></p>    
        {% if user.donating %}
        <form action="{{url_for('user_home', user_id=user.id)}}" method="post">
            <button type="submit" class="btn btn-secondary">
                Deactivate Donation
            </button>
        </form>
        {% else %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Apply Donation
        </button>
        {% endif %}
                    
      </div>
<div class="col-sm-4 text-left"> 
        
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="" role="document">
<!-- <div class="modal-dialog" role="document"> -->
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Donation </h5>
<p>By selecting a charity, 3% of the total price will go to the charity you select</p>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <p>The form below contains three checkboxes. The last option is disabled:</p>
    <form action="{{url_for('user_home', user_id=user.id)}}" method="post">
        {% for charity in charities %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="charity_radio" id="exampleRadios1" value="{{charity.id}}">
                <label class="form-check-label" for="exampleRadios1" data-target="#charity1" >
                    {{charity.name}}
                </label>
                <div id="charity1" class="collapse">
                    {{charity.mission}}
                </div>
            </div>
        {% endfor %}
        {% if recommend_charity %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="charity_radio" id="exampleRadios1" value="{{recommend_charity.id}}">
            <label class="form-check-label" for="exampleRadios1" data-target="#charity1" >
                {{recommend_charity.name}}
                <!--Recommended!-->
            </label>
            <div id="charity1" class="collapse">
                {{recommend_charity.mission}}
            </div>
        </div>
        {% endif %}
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button submit" class="btn btn-primary">Apply donation</button>
        </div>
    </form>
</div>


<script>
</script>
{% endblock %}